{% extends "layout/base.html" %}
{% block breadcrumb %}
    <li>Home</li>{% endblock %}
{% block title %}Compargram.com - The Comparison site - Compare everything{% endblock %}
{% block description %}Compargram is a web application for comparison. We want to give you specific, accurate
    information to help you make the most informed choices about: vehicle, food, service...{% endblock %}
{% block content %}
    <div class="home-middle">
        <h1 class="page-title site-title text-center site-logo">
            Compargram.com
        </h1>
        <section id="compare-box" class="compare-search">
        </section>
        <div class="small-12 text-center text-color-primary">{% for classify in classifies %}
            <a class="label clickable"  href="/{{ classify.slug }}">{{ classify.name }}</a>{% endfor %}
        </div>
    </div>
{% endblock %}
