.compare-table {
  table-layout: fixed;
  th {
    font-size: 13px;
  }
  tbody tr th.first-col {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .property-img {
    max-height: 120px;
  }
}
