.media-panel {
  .media-left {
    background: #ddd;
    .tabs {
      background: #ddd;
    }
  }
  .media-right {
    .tabs-panel {
      padding: 0;
      .tabs-header {
        padding: 10px 10px 0;
        background: #e6e6e6;
        .tabs {
          background: #e6e6e6;
          .tabs-title > a[aria-selected='true'] {
            background: #ffffff;
            color: #1779ba;
          }
        }
      }
      .tabs-content {
        padding: 10px;
      }
    }

  }
}

.media {
  .showcase {
    position: relative;
    .control {
      position: absolute;
      bottom: 30px;
      left: 20px;
      font-size: 25px;
    }
  }
  .list {
    .image {
      padding: 5px;
      margin-bottom: 0px;
    }
  }
}

.upload-media-form {
  .hide {
    display: none;
  }
  .upload-input {
    width: 100%;
    min-height: 212px;
    border: 10px dashed #ccc;
    display: -webkit-box;
    vertical-align: middle;
    position: relative;
    .input-file {
      opacity: 0;
      width: 100%;
      height: 190px;
      position: absolute;
      cursor: pointer;
    }
    .upload-button {
      position: absolute;
      font-size: 50px;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 3.5;
    }
  }
  .result {
    position: relative;
    .result-image {
      overflow: hidden;
      max-height: 210px;
      img {
        max-height: 210px;
      }
    }
    .cancel {
      position: absolute;
      font-size: 25px;
      cursor: pointer;
      right: -15px;
      top: -15px;
      z-index: 10;
      color: red;
      i {
        border-radius: 50%;
        line-height: 1;
        width: 25px;
        height: 25px;
        text-align: center;
        background: #fff;
      }
    }
  }
}

.media_browser {
  .title {
    margin: 30px;
    text-align: center;
  }
  max-width: 585px;
  margin: 0 auto;
  .tabs-panel.is-active {
    background: #e6e6e6;
    padding-top: 30px;
  }

  .list-media {
    .media {
      position: relative;
      float: left;
      padding: 8px;
      color: #444;
      cursor: pointer;
      text-align: center;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-sizing: border-box;
      .check {
        display: none;
      }
    }
  }
  .information {
    box-sizing: border-box;
    padding: 8px;
  }
}

.album-maker {
  background: #e6e6e6;
  textarea {
    height: 80px;
  }
  .media {
    padding: 10px;
    .media-heading {
      position: relative;
      .cancel {
        position: absolute;
        font-size: 20px;
        top: -15px;
        right: -15px;
        color: red;
        cursor: pointer;
        i {
          border-radius: 50%;
          line-height: 1;
          width: 20px;
          height: 20px;
          text-align: center;
          background: #fff;
        }
      }
    }
  }
  .browser-button {
    cursor: pointer;
    text-align: center;
    display: block;
    font-size: 40px;
    border: 10px dashed #ccc;
    width: calc(100% - 5px);
    height: calc(100% - 15px);
    line-height: 3.5;
  }

  .browser-button-small {
    cursor: pointer;
    text-align: center;
    display: block;
    font-size: 40px;
    border: 10px dashed #ccc;
    width: calc(100% - 10px);
    height: calc(100% - 0px);
    line-height: 2.5;
  }
}

.gallery_browser {
  margin-bottom: 20px;
  .small-3 {
    padding-right: 10px;
  }
  .gallery_browser .media_browser_dialog {
    max-width: 700px;
    #media_browser {
      background-color: rgba(72, 48, 48, 0.4196078431372549);
    }
  }

  .swiper-container-horizontal {
    .swiper-wrapper {
      .block {
        .browser-button {
          cursor: pointer;
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          font-size: 40px;
          border: 10px dashed #ccc;
          min-width: 206px;
          height: 206px;
        }
        display: block;
        margin-right: 15px;
      }

      .swiper-slide {
        img {
          width: 100%;
          cursor: pointer;
        }
      }
      .check {
        display: none;
      }
      .selected {
        border: 10px solid #eeeeee;
        .check {
          display: block;
          position: absolute;
          right: 15px;
          top: 15px;
          font-size: 25px;
          line-height: 1;
          background: #eee;
          cursor: pointer;
          box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, .15);
        }
      }
    }
  }
}

.gallery_browser_create {
  max-width: 585px;
  margin: 0 auto;
}
