.model {
  position: relative;
  .field-data {
    img {
      max-width: 200px;
    }
  }
  .featured-image {

  }
  .caption {
    opacity: 0;
    transition: .5s ease;
    transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: calc(100% - 20px);
    padding: 15px;
    height: calc(100% - 20px);
    color: #ffffff;
    a {
      color: inherit;
    }
    h2 {
      a {
        color: #ffffff;
      }
    }
  }
  .compare_icon {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 23px);
    font-size: 40px;
    line-height: 1;
    color: #ffffff;
    cursor: pointer;
  }
}

.selectable {
  cursor: pointer;
  .check {
    display: none;
  }
}

.selected {
  position: relative;
  border: 10px solid #eee;
  .check {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
    line-height: 1;
    background: #eee;
    cursor: pointer;
  }
}

.list-model {
  margin-right: -10px !important;
  margin-left: -10px !important;;
  .model {
    padding: 10px;
    margin-bottom: 0;
  }
}

.model:hover {
  .caption {
    opacity: 1;
  }
}

.browser-button {
  width: 100%;
  height: 100%;
  font-size: 40px;
  background: #eee;
  text-align: center;
  line-height: 4;
}

.model-app {
  .property {
    .clickatable {
      cursor: pointer;
    }
    .movable {
      cursor: move;
    }
  }
}

.model-review-form {
  .model-review-centered {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    h2 {
      font-size: 30px;
    }
  }
}

.review {
  margin-bottom: 20px;
  .review-content {
    .review-title {
      font-weight: bold;
      margin-bottom: 5px;
    }
    margin-left: 0;
    padding: 10px;
    background: #f2f9f9;
  }
}

.vote-button {
  margin-bottom: 0;
  .switch-paddle {
    width: 4.5rem;
    .switch-active {
      left: 15%;
    }
    .switch-inactive {
    }
  }
  .switch-paddle:after {
    width: 2rem;
    z-index: 1;
  }
  input:checked ~ .switch-paddle::after {
    left: 2.25rem;
  }
  .count {
    z-index: 10;
    position: absolute;
    top: 0.25rem;
    left: 0.5rem;
    display: block;
    color: #907f7f;
  }
  input:checked ~ .switch-paddle .count {
    left: 2.5rem;
    color: #798288;
  }
}

#model-form {
  fieldset {
    min-width: 100px;
  }
}

.comparison_table_list {
  text-align: center;
}

.card-list {
  .wrap {
    padding: 10px;
    border: 1px solid #dddddd;
    .card-icon {

    }
    .card-body {
      margin-left: 10px;
      .card-title {
        font-weight: bold;
        i {
          color: #dddddd;
        }
      }
      .card-desc {
        ul {
          li {

          }
        }
      }
    }
  }

}

.object {
  padding: 0px;
  margin: 0px;
  border-top: 1px solid #f2f5f8;
  background-color: #f2f4f8;
  border-bottom: 1px solid #f2f5f8;
  margin-bottom: 8px;
  .featured-image {
    padding: 10px;
    margin: 0;
  }
  .caption {
    margin-left: 10px;
    margin-right: 0;
    .model_title {
      font-size: 1.5rem;
    }
  }
}

.object:nth-child(even) {
  background-color: #e5eaf1;
}

.tag-list {
  .tag-item {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    i {
      color: #dddddd;
      margin-right: 8px;
    }
  }
}

.compare-list {
  .compare-card {
    background: #fff;
    border: 1px solid #DADFE2;
    border-radius: 3px;
    text-decoration: none;
    opacity: 0.86;
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    .compare-card-top {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      background: #DADFE2;
      height: 100px;
      padding: 10px;
      .model-icon {
        -webkit-flex-basis: 50px;
        flex-basis: 74px;
        height: 74px;
        background-color: #fff;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 2px;
        margin: 0 0.1em;
        overflow: hidden;
      }
    }
    .compare-card-middle {
      background: #fff;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      min-height: 60px;
      padding: .8em .8em 2em;
      text-align: center;
      a {
        font-size: 14px;
        line-height: 1.2;
        font-weight: bold;
      }
    }
    .compare-card-bottom {
      background: #F7F9F9;
      border: 1px solid #DDE2E5;
      color: #5F6C72;
      display: inline-block;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      font-size: 9px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-top: 1em;
      padding: 0.6em 0.7em 0.6em 0.7em;
      text-transform: uppercase;
      position: absolute;
      margin-left: -5em;
      left: 50%;
      bottom: -14px;
      z-index: 10;
    }
  }
}
